// Colours
//$off-black: #20222b;
//$off-white: #a5afd7;
//$aqua-blue: #00ffff;
//$blue: #3c4251;
$bright-blue: #1c88bf;
$dark-blue: #364051;
//$darker-blue: #333745;
//$light-blue: #464b5e;
//$purple: #8357c5;
$base-white: #fff;
$light-grey: #f7f7f7;
$dark-grey: #333;
$grey: #888;
$storm-grey: #666;
$cloud-white: #cacccd;


// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$ml-size: 2rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// Breakpoints
$desktop-breakpoint: 45rem;

//Lines Space
$s-height: 1;
$m-height: 1.6;

//Font Size
$font-size-small: 1.4rem;
$font-size-medium:1.6rem;
$font-size-large: 1.8rem;
